<div class="container py-3">
  <% unless @product.nil? %>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag(@product.photo_url, width: '100%') %>
      </div>
      <div class="col-sm-12 col-md-6">
        <h1><%= @product.name %></h1>
        <p>商品についての詳細説明</p>
        <p>価格: <%= humanized_money_with_symbol(@product.price) %></p>
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'product_id', @product.id %>
          <%= submit_tag 'カートに入れる', class: 'btn btn-secondary' %>
        <% end %>
      </div>
    </div>
  <% else %>
    <h1>There is no product for this ID</h1>
  <% end %>
</div>